<html>

<head>

	<title> mAD Politics - Campaign advertising </title>
	<link rel="stylesheet"  href="{{url_for('static', filename='AdStylesheet.css') }}">
	<style> 
	input[type=button], input[type=submit] {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
	}
	</style>

</head>

<body>

	<div class="adtitleimage">
	<img src="../static/politicalad.png" style="float: center;" alt="Image" height="200" width="60%">
	<p style="text-align:center">Bernie Sanders, Green Party, Breaking Point, AOC</p>
 	</div>

	
	<h1> ! mAD Politics - Campaign advertising </h1>


	<h2> Please let us know which candidate you want to know more about...</h2>

<!-- Query 1  -->

			<form method="GET" action="/q1">
				<br>
				<label for="search" style="color:#000000"><b> 1. Which candidate has the most advisement spending?</b></label><br>
					<p> Show top
			  	<select id="topN" name="topN">
						<option value="1" name="topN"> 1 </option>
						<option value="2" name="topN"> 2 </option>
						<option value="3" name="topN"> 3 </option>
						<option value="4" name="topN"> 4 </option>
						<option value="5" name="topN"> 5 </option>
			    </select> candidates 
			   	<input type="submit" value="Go and find out" /></p>
			</form>

<!-- Query 2  -->

			<form method="GET" action="/q2">
				<br>
				<label for="search" style="color:#000000"><b> 2. Which candidate has the best poll? </b></label><br>
					<p> Show who lead in
					<select id="state_selection" name="state_selection">
						<option value="All">All</option>
						<option value="CA">California</option>
						<option value="WA">Washington</option>
						<option value="NY">New York</option>
					</select> state 
					<input type="submit" value="Go and find out" /></p>
			</form>

<!-- Query 3  -->

			<form method="GET" action="/q3">
				<br>
				<label for="search" style="color:#000000"><b> 3. Forecasted total leading states and delegates? </b></label>
					<input type="submit" value="Go and find out" />
			</form>
	
<!-- Query 4  -->

			<form method="GET" action="/q4">
				<br>
				<label for="search" style="color:#000000"><b> 4. Which platform is the most popular one for ads spending?</b></label><br>
					<p> Show top
			  	<select id="topNpf" name="topNpf">
						<option value="1" name="topNpf"> 1 </option>
						<option value="2" name="topNpf"> 2 </option>
						<option value="3" name="topNpf"> 3 </option>
			    </select> platforms 
			   	<input type="submit" value="Go and find out" /></p>
			</form>

<!-- Query 5  -->

			<form method="GET" action="/q5">
				<br>
				<label for="search" style="color:#000000"><b> 5. Check to see how candidates do in their home states?</b></label><br>
					<p> Show the results for candidate 
			  	<select id="canName" name="canName">

		    	{% for ui_row in canname %}
    			<option value="{{ui_row.Candidate_Name}}">{{ui_row.Candidate_Name}}</option>
	    		{% endfor %}
    			</select>
   				
			   	<input type="submit" value="Go and find out" /></p>
			</form>


	<h3> Related Links: </h3>

	<p> News, Analysis and Opinion from POLITICO: 
	<a href="https://www.politico.com/news/campaign-ads">Campaign-ads </a> </p> 

</body>

</html>