<html>

<head>

	<title> mAD Politics - Campaign advertising </title>
	<link rel="stylesheet"  href="{{url_for('static', filename='AdStylesheet.css') }}">
	<style>
	input[type=button], input[type=submit] {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
	}
	</style>

</head>

<body>

	<div class="adtitleimage">
	<img src="../static/2020ElectionMainHeader.jpg" style="float: center;" alt="Image" height="300" width="50%">
	<p style="text-align:center"> <font size="1" color="#A9A9A9">Clockwise from top left: Joe Biden, Michael Bloomberg, Elizabeth Warren, Julián Castro, Bernie Sanders, Pete Buttigieg, President Trump, Cory Booker, Amy Klobuchar, and Andrew Yang arevying to become president in 2020. (Getty Images; design by Grace Yagel/JTA)</font></p>
 	</div>


	<h1> ! mAD Politics - Campaign advertising </h1>


	<h2> Please let us know which candidate you want to know more about...</h2>

<!-- Query 1  -->

			<form method="GET" action="/q1">
				<br>
				<label for="search" style="color:#000000"><b> 1. Which candidate has the most advertisement spending?</b></label><br>
					<p> Show top
			  	<select id="topN" name="topN">
						<option value="1" name="topN"> 1 </option>
						<option value="2" name="topN"> 2 </option>
						<option value="3" name="topN"> 3 </option>
						<option value="4" name="topN"> 4 </option>
						<option value="5" name="topN"> 5 </option>
			    </select> candidates
			   	<input type="submit" value="Go and find out" /></p>
			</form>

<!-- Query 2  -->

			<form method="GET" action="/q2">
				<br>
				<label for="search" style="color:#000000"><b> 2. Which candidate has the best poll? </b></label><br>
					<p> Show who lead in
					<select id="state_selection" name="state_selection">
						<option value="All">All</option>
						<option value="AZ">Arizona</option>
						<option value="CA">California</option>
						<option value="IN">Indiana</option>
						<option value="MA">Massachusetts</option>
						<option value="NY">New York</option>
						<option value="PA">Pennsylvania</option>
						<option value="VT">Vermont</option>
						<option value="WA">Washington</option>
					</select> state
					<input type="submit" value="Go and find out" /></p>
			</form>

<!-- Query 3  -->

			<form method="GET" action="/q3">
				<br>
				<label for="search" style="color:#000000"><b> 3. Forecasted total leading states and delegates of all candidates </b></label>
					<input type="submit" value="Go and find out" /><br>
				<br>
			</form>

<!-- Query 4  -->

			<form method="GET" action="/q4">
				<br>
				<label for="search" style="color:#000000"><b> 4. Which platform is the most popular one for ads posting?</b></label><br>
					<p> Show top
			  	<select id="topNpf" name="topNpf">
						<option value="1" name="topNpf"> 1 </option>
						<option value="2" name="topNpf"> 2 </option>
						<option value="3" name="topNpf"> 3 </option>
			    </select> platforms
			   	<input type="submit" value="Go and find out" /></p>
			</form>

<!-- Query 5  -->

			<form method="GET" action="/q5">
				<br>
				<label for="search" style="color:#000000"><b> 5. Check to see how candidates do in their home states</b></label><br>
					<p> Show the results for candidate
			  	<select id="canName" name="canName">

		    	{% for ui_row in canname %}
    			<option value="{{ui_row.Candidate_Name}}">{{ui_row.Candidate_Name}}</option>
	    		{% endfor %}
    			</select>

			   	<input type="submit" value="Go and find out" /></p>
			</form>

<!-- Query 6  -->

			<form method="GET" action="/q6">
				<br>
				<label for="search" style="color:#000000"><b> 6. Find out the relationship between advertisement spending vs. change of polling result</b></label><br>
					<!-- <p> Show
					<select id="User_boost_selection" name="User_boost_selection">
						<option value="Top_5">Top 5</option>
						<option value="Bottom_5">Bottom 5</option>
					</select> results -->
					<input type="submit" value="Go and find out" /></p>
			</form>

<!-- Query 7  -->

			<form method="POST" action="/q7">
				<br>
				<label for="search" style="color:#000000"><b> 7. Check to see candidates' affiliated groups</b></label><br>

					<input type="checkbox" name="aflist" value="Andrew Yang"> Andrew Yang
					<input type="checkbox" name="aflist" value="Bernie Sanders"> Bernie Sanders
					<input type="checkbox" name="aflist" value="Donald Trump"> Donald Trump
					<input type="checkbox" name="aflist" value="Elizabeth Warren"> Elizabeth Warren
					<input type="checkbox" name="aflist" value="Joe Biden"> Joe Biden
					<input type="checkbox" name="aflist" value="Mike Bloomberg"> Mike Bloomberg
					<input type="checkbox" name="aflist" value="Pete Buttigieg"> Pete Buttigieg
					

				<!-- <p> Show the results for candidate
			  	<select id="canName" name="canName">

		    	{% for ui_row in canname %}
    			<option value="{{ui_row.Candidate_Name}}">{{ui_row.Candidate_Name}}</option>
	    		{% endfor %}
    			</select> -->

			   	<input type="submit" value="Go and find out" /></p>
			</form>


	<h3> Related Links: </h3>

	<p> News, Analysis and Opinion from POLITICO:
	<a href="https://www.politico.com/news/campaign-ads">Campaign-ads </a> </p>

</body>

</html>
