<html>
<head><title>INFO 257 workshop show data</title>
</head>

<body>

	{{Bottom_5_selection}}, {{Top_5_selection}}

	<table class="table">

		<!-- # Create table heads -->
		<tr>
			<th>Ad ID</th>
			<th>Candidate Name</th>
			<th>Platform Name</th>
			<th>Pull Difference</th>
			<th>Advertisement Cost</th>
			<th>Pull Improvement By Cost</th>

		<!-- # Iterate through list and display values of a speific key -->
		</tr>
			{% for ui_row in Ad_spending_worth %}
		<tr>
			<td>{{ ui_row.Ad_ID }}</td>
			<td>{{ ui_row.Candidate_name }}</td>
			<td>{{ ui_row.Platform_name }}</td>
			<td>{{ ui_row.Pull_diff }}</td>
			<td>{{ ui_row.Ad_cost }}</td>
			<td>{{ ui_row.Pull_improvement_by_cost }}</td>
		</tr>

		<!-- # Loop through each value in a collection -->
			{% endfor %}

	</table>

</body>
</html>
